In [1]:
import numpy as np
import pandas as pd
import datetime
# from datetime import datetime

In [2]:
df = pd.read_excel('000002.xlsx')
df

,ユーザーID,モデルID,モデル名,カメラID,カメラ名,カメラエリアID,クラスID,クラス名,精度スコア,作業者名,指示書名,検出日時,経過時間
0,2,1,Bobbin_v1.0,2,22号機,6,0,稼働,0.00,1,0,2022-12-01 23:59:59,0
1,2,1,Bobbin_v1.0,2,22号機,6,0,稼働,0.96,1,0,2022-12-01 23:59:32,27
2,2,1,Bobbin_v1.0,2,22号機,7,0,稼働,0.84,1,0,2022-12-01 23:59:32,0
3,2,1,Bobbin_v1.0,2,22号機,9,0,稼働,0.82,1,0,2022-12-01 23:59:32,0
4,2,1,Bobbin_v1.0,2,22号機,10,0,稼働,0.05,1,0,2022-12-01 23:59:32,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8588,2,1,Bobbin_v1.0,2,22号機,38,999,NO_DATA,1.00,1,0,2022-12-01 00:00:46,0
8589,2,1,Bobbin_v1.0,2,22号機,39,999,NO_DATA,1.00,1,0,2022-12-01 00:00:46,0
8590,2,1,Bobbin_v1.0,2,22号機,40,999,NO_DATA,1.00,1,0,2022-12-01 00:00:46,0
8591,2,1,Bobbin_v1.0,2,22号機,41,999,NO_DATA,1.00,1,0,2022-12-01 00:00:46,0
8592,2,1,Bobbin_v1.0,2,22号機,6,999,NO_DATA,0.00,1,0,2022-12-01 00:00:00,46

In [3]:
df.drop(['ユーザーID', 'モデルID', 'モデル名', 'カメラID', 'カメラ名', '作業者名', '指示書名'], axis = 1, inplace=True)

In [4]:
df.rename(columns = {'カメラエリアID':'Camera_Area_ID', 'クラスID':'Class_ID', 'クラス名':'Class_Name', '精度スコア':'Acc_Score', '検出日時':'Detection_Time', '経過時間':'Elapsed_Time'}, inplace=True)

In [5]:
df.columns

Index(['Camera_Area_ID', 'Class_ID', 'Class_Name', 'Acc_Score',
       'Detection_Time', 'Elapsed_Time'],
      dtype='object')

In [6]:
df.shape

(8593, 6)

In [7]:
df.dtypes

Camera_Area_ID      int64
Class_ID            int64
Class_Name         object
Acc_Score         float64
Detection_Time     object
Elapsed_Time        int64
dtype: object

In [8]:
df['DateTime'] = pd.to_datetime(df['Detection_Time'])
df

,Camera_Area_ID,Class_ID,Class_Name,Acc_Score,Detection_Time,Elapsed_Time,DateTime
0,6,0,稼働,0.00,2022-12-01 23:59:59,0,2022-12-01 23:59:59
1,6,0,稼働,0.96,2022-12-01 23:59:32,27,2022-12-01 23:59:32
2,7,0,稼働,0.84,2022-12-01 23:59:32,0,2022-12-01 23:59:32
3,9,0,稼働,0.82,2022-12-01 23:59:32,0,2022-12-01 23:59:32
4,10,0,稼働,0.05,2022-12-01 23:59:32,0,2022-12-01 23:59:32
...,...,...,...,...,...,...,...
8588,38,999,NO_DATA,1.00,2022-12-01 00:00:46,0,2022-12-01 00:00:46
8589,39,999,NO_DATA,1.00,2022-12-01 00:00:46,0,2022-12-01 00:00:46
8590,40,999,NO_DATA,1.00,2022-12-01 00:00:46,0,2022-12-01 00:00:46
8591,41,999,NO_DATA,1.00,2022-12-01 00:00:46,0,2022-12-01 00:00:46
8592,6,999,NO_DATA,0.00,2022-12-01 00:00:00,46,2022-12-01 00:00:00

In [9]:
df.dtypes

Camera_Area_ID             int64
Class_ID                   int64
Class_Name                object
Acc_Score                float64
Detection_Time            object
Elapsed_Time               int64
DateTime          datetime64[ns]
dtype: object

In [10]:
df.drop('Detection_Time', axis=1, inplace=True)

In [16]:
df['DateTime'].index

RangeIndex(start=0, stop=8593, step=1)

In [17]:
df.set_index('DateTime', inplace=True)

In [18]:
df

,Camera_Area_ID,Class_ID,Class_Name,Acc_Score,Elapsed_Time
DateTime,,,,,
2022-12-01 23:59:59,6,0,稼働,0.00,0
2022-12-01 23:59:32,6,0,稼働,0.96,27
2022-12-01 23:59:32,7,0,稼働,0.84,0
2022-12-01 23:59:32,9,0,稼働,0.82,0
2022-12-01 23:59:32,10,0,稼働,0.05,0
...,...,...,...,...,...
2022-12-01 00:00:46,38,999,NO_DATA,1.00,0
2022-12-01 00:00:46,39,999,NO_DATA,1.00,0
2022-12-01 00:00:46,40,999,NO_DATA,1.00,0
2022-12-01 00:00:46,41,999,NO_DATA,1.00,0
2022-12-01 00:00:00,6,999,NO_DATA,0.00,46

In [40]:
grp = df.groupby(pd.Grouper(freq='H'))

In [58]:
grp.first()

,Camera_Area_ID,Class_ID,Class_Name,Acc_Score,Elapsed_Time
DateTime,,,,,
2022-12-01 00:00:00,6,999,NO_DATA,0.0,46
2022-12-01 01:00:00,6,999,NO_DATA,0.0,127
2022-12-01 02:00:00,6,999,NO_DATA,0.0,199
2022-12-01 03:00:00,6,999,NO_DATA,0.0,46
2022-12-01 04:00:00,6,999,NO_DATA,0.0,230
2022-12-01 05:00:00,6,999,NO_DATA,0.0,136
2022-12-01 06:00:00,6,999,NO_DATA,0.0,22
2022-12-01 07:00:00,6,999,NO_DATA,0.0,172
2022-12-01 08:00:00,6,999,NO_DATA,0.0,281
2022-12-01 09:00:00,6,999,NO_DATA,0.0,230
2022-12-01 10:00:00,6,999,NO_DATA,0.0,47
2022-12-01 11:00:00,6,999,NO_DATA,0.0,256
2022-12-01 12:00:00,6,999,NO_DATA,0.0,206
2022-12-01 13:00:00,6,0,稼働,0.0,9
2022-12-01 14:00:00,6,0,稼働,0.0,939
2022-12-01 15:00:00,6,0,稼働,0.0,27
2022-12-01 16:00:00,6,0,稼働,0.0,289
2022-12-01 17:00:00,6,0,稼働,0.0,270
2022-12-01 18:00:00,6,0,稼働,0.0,275
2022-12-01 19:00:00,6,0,稼働,0.0,255
2022-12-01 20:00:00,6,999,NO_DATA,0.0,254
2022-12-01 21:00:00,6,0,稼働,0.0,113
2022-12-01 22:00:00,6,0,稼働,0.0,72
2022-12-01 23:00:00,6,0,稼働,0.0,57

In [54]:
grp.get_group('2022-12-01 01:00:00')['Class_Name'].unique()

array(['NO_DATA'], dtype=object)

In [56]:
grp.get_group('2022-12-01 13:00:00')['Class_Name'].unique()

array(['稼働', 'NO_DATA'], dtype=object)

In [ ]:
df['経過時間'].unique()

In [ ]:
df['カメラエリアID'].value_counts()   # " カメラエリアID "  ==  " Camera Area ID "  

#  Only for " カメラエリアID " == 6, value is 433 for rest it is only 408

In [ ]:
df['カメラエリアID'].unique()

In [ ]:
df

In [ ]:
# df[df['検出日時'] == ]

In [ ]:
# grp2 = df.groupby('カメラエリアID').filter(lambda x: df['カメラエリアID'] == 4)

In [ ]:
grp = df.groupby('カメラエリアID')

In [ ]:
# group for eaach " Camera Area ID "

grp.first()

In [ ]:
# grp['クラス名'] == 'NO_DATA'

def categorize_ClassName(x):
    m = x.mean()
    return True if m > 29 else False

In [ ]:
df.groupby('Sex').Age.agg(['max', 'mean', categorize])

In [ ]:
# Elapsed Time for " Camera Area ID " == 6 and different " detection date and time " 

grp.get_group(6) #  " クラス名 " == " Class Name "

## Accuracy Score  == " 2022-12-01 23:59:59  -  2022-12-01 23:59:32 / 100 "

In [ ]:
# size() acts same as value_counts()

grp.size()

In [ ]:
# Different Elapsed Time for " Camera Area ID " == 6

grp.get_group(6)['経過時間'].unique()

In [ ]:
grp.get_group(7)['経過時間'].unique()  ##  Only one Elapsed Time for " Camera Area ID " == 7

In [ ]:
df.groupby('Cabin').filter(lambda x: len(x) >= 4)

In [ ]:


# grp2 = df.groupby(['カメラエリアID', '検出日時'])
# # 46 is Elapsed time for " Camera Area ID " == 6 and " Time detection date " ==  " 2022-12-01 00:00:00 "

# grp2.last()
# grp2.get_group((6, '2022-12-01 00:00:00'))['経過時間'].unique()
# grp2.get_group((41, '2022-12-01 23:54:36'))['経過時間'].unique()

In [ ]:
df.dtypes  ##  Here we can see that the " Elapsed Time " is is Integer, should convert it to " datetime "

In [ ]:
# df['経過時間_New'] = pd.to_datetime(df['経過時間'], format='%m/%d/%Y %H:%M:%S.%f',infer_datetime_format=True) 
# format='%Y:%m:%d:%H:%M:%S') #%m/%d/%Y %H:%M:%S.%f

In [ ]:
df['経過時間_New'] = pd.to_timedelta(df['経過時間'], unit='s')
df['経過時間_New']

In [ ]:
df.dtypes

In [ ]:
df[df['カメラエリアID'] == 6]

In [ ]:
df['クラス名'].unique()

In [ ]:
# # Elapsed time for status data
# grp3 = df[["カメラエリアID","クラス名","経過時間_New"]].groupby(["カメラエリアID","クラス名"]).sum()
# grp3 = grp3.reset_index()
# # status_data2
# group_data = grp3[['クラス名','経過時間_New']]
# group_data

In [ ]:
# # Elapsed time for status data
# grp4 = df[["カメラエリアID",'クラス名',"経過時間_New"]].groupby(["カメラエリアID","クラス名"]).sum()
# grp4 = grp4.reset_index()
# # status_data2
# group_data2 = grp4[['カメラエリアID','経過時間_New']]
# group_data2[group_data2['カメラエリアID'] == 6]

In [ ]:
# r = df[["カメラエリアID","クラス名","経過時間_New"]].groupby(["カメラエリアID"])
# r.first()
# r.get_group(10)['クラス名'] == "NO_DATA"

In [ ]:
# Elapsed time for status data
grp2 = df[["カメラエリアID",'クラス名',"経過時間_New"]].groupby(["カメラエリアID", "経過時間_New"]).mean().reset_index()
# print(type(grp2))
#  grp2 = df.groupby(['カメラエリアID', '検出日時'])

# status_data2
group_data3 = grp2[['カメラエリアID','経過時間_New']]
# group_data3[group_data3['カメラエリアID'] == 6]

In [ ]:
# grp2.get_group((6, 27))

In [ ]:
x = grp2[grp2['クラス名'] == "NO_DATA"]['経過時間']    #- grp5[grp5['クラス名'] == "稼働"]['経過時間_New']

In [ ]:
y = grp2[grp2['クラス名'] == "稼働"]['経過時間']

In [ ]:
grp2['Sub'] = x - y

In [ ]:
# grp2['経過時間_New'] = pd.to_timedelta(x, unit='s')
# grp2['経過時間_New']

In [ ]:
# grp2['経過時間_New'] = pd.to_timedelta(y, unit='s')
# grp2['経過時間_New']

In [ ]:
grp2

In [ ]:
# groupby and calc the diff between the groups from the first timestamp when sorted
# grp5['diff'] = grp5.groupby(['経過時間_New', 'クラス名'])['経過時間_New'].apply(lambda x: x - x.iloc[0])

# filter dataframe where the diff is less than 1 hour and does not equal 0
# dup[(dup['diff'] < pd.Timedelta('1 hour')) & (dup['diff'] != pd.Timedelta('0 hour'))]

In [ ]:
# grp5['Time_Diff'] = pd.to_datetime(x) - pd.to_datetime(y)

In [ ]:
grp5.dtypes

In [ ]:
grp5